.jumbotron
  .display-4
    What do you want to learn today?

.fa.fa-flag
.fab.fa-amazon
= link_to root_path do
  .fa.fa-home
  .form-inline.my-2.my-lg-0
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}


%hr
Популярные курсы
%hr
Лучшие курсы
%hr
Больше всего отзывов
%hr

= link_to courses_path, class: 'btn btn-success btn-white' do
  .fa.fa-book 
  Курсы
