@import "trix/dist/trix";

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.navbar-collapse {
  font-size: 15px;
}

footer {
  color: #fff;
  font-size: 15px;
}

footer a {
  color: rgba(255, 255, 255, 0.55);
}

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }
